body {
    margin-left: 20vw;
}
/* Container styling */
#container {
    text-align: center;
    width: 55vw;
    padding: 20px;
    /*border: 2px solid #444;*/
    /*border-radius: 8px;*/
    background-color: #f9f9f9;
    font-family: "Comic Sans MS", sans-serif;
}

/* Article block styling */
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.article:hover {
    background-color: #f0f0f0; /* Optional: Adds a hover effect */
}

.article:last-child {
    border-bottom: none;
}

/* Title styling */
.title {
    font-size: 1.2rem;
    /*font-weight: 600;*/
    margin: 0;
    color: #333;
}

/* Date styling */
.created {
    font-size: 1rem;
    color: #929aa0;
    margin: 0;
    white-space: nowrap;
}